.container{
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 20px;


}

.food{

    border: 2px solid purple;
    padding: 10px;
    border-radius: 10px;
}
.food img{
    width: 100%;
}
@media screen and (max-width: 576px) {
    .container{
        grid-template-columns: repeat(1, 1fr);
    }
    
}
@media screen and (min-width: 577px) and (max-width: 764px) {
    .container{
             grid-template-columns: repeat(2, 1fr);
    }
    
}
@media screen and (min-width: 765px) and (max-width: 992px) {
    .container{
             grid-template-columns: repeat(3, 1fr);
    }
    
}